<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="oademo.mapper.MailMapper">
<select id="findById" resultType="Mail">
    	select * from Mail where id=#{id}
 </select>
 <insert id="setEmailAdd" parameterType="Mail" keyProperty="id" useGeneratedKeys="true">
    	INSERT INTO mail(addresser,addressee,title,accessorySite,
    	description,writeTime,importanceInt,stateId) VALUES
	(#{addresser},#{addressee},#{title},#{accessorySite},#{description},
	#{writeTime},#{importanceInt},#{stateId})
 </insert>
 <insert id="draftEmailAdd" parameterType="Mail" keyProperty="id" useGeneratedKeys="true">
    	INSERT INTO mail(addresser,addressee,title,accessorySite,
    	description,writeTime,importanceInt,stateId) VALUES
	(#{addresser},#{addressee},#{title},#{accessorySite},#{description},
	#{writeTime},#{importanceInt},#{stateId})
 </insert>
 <!-- 邮件筛选 -->
	<select id="receiveEmaiList" resultType="Mail">
		select * from Mail
		<where>
			<if test="stateId>0">
				and stateId=#{stateId}
			</if>
			
			<if test="addresser!=null and !addresser.isEmpty()">
				and addresser=#{addresser}
			</if>
			<if test="addressee!=null and !addressee.isEmpty()">
				and addressee=#{addressee}
			</if>
			<if test="title!=null and !title.isEmpty()">
				and title like concat('%',#{title},'%')
			</if>
			<if test="importanceInt>0">
				and importanceInt=#{importanceInt}
			</if>
		</where>
		limit #{page}, #{limit}
	</select>
 <!-- 邮件筛选件数 -->    
	<select id="findMailsRows" resultType="int">
		select count(m.id) from Mail m
		<where>
			<if test="stateId>0">
				and m.stateId=#{stateId}
			</if>
			
			<if test="addresser!=null and !addresser.isEmpty()">
				and m.addresser=#{addresser}
			</if>
			<if test="addressee!=null and !addressee.isEmpty()">
				and m.addressee=#{addressee}
			</if>
			<if test="title!=null and !title.isEmpty()">
				and m.title like concat('%',#{title},'%')
			</if>
			<if test="importanceInt>0">
				and m.importanceInt=#{importanceInt}
			</if>
		</where>
	</select>
	<!-- 已发邮件 -->
 <select id="sentEmaiList" resultType="Mail">
		select * from Mail
		<where>
			and addresser=#{addresser}
			<if test="stateId==3">
				 and stateId=2
			</if>
			
			<if test="addressee!=null and !addressee.isEmpty()">
				and addressee=#{addressee}
			</if>
			<if test="title!=null and !title.isEmpty()">
				and title like concat('%',#{title},'%')
			</if>
			<if test="importanceInt>0">
				and importanceInt=#{importanceInt}
			</if>
		</where>
		limit #{page}, #{limit}
	</select>
	
	
</mapper>
